<%- layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h2>Create Your New Listing</h2>
    <form
      method="Post"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          ,
          name="title"
          ,
          placeholder="Enter Your sweet place title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Enter the title</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>

        <textarea name="description" class="form-control" required></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Listing image</label>
        <input
          type="file"
          autocomplete="off"
          name="image"
          id="fileInput"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-12 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            name="price"
            autocomplete="off"
            inputmode="decimal"
            pattern="[0-9]*\.?[0-9]+"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid Price</div>
        </div>
        <div class="mb-3 col-12 col-md-8">
          <label for="country" class="form-label">Country</label>
          <!-- <input
            type="text"
            ,
            name="country"
            ,
            placeholder="India"
            class="form-control"
            required
          /> -->
          <br />
          <select
            id="country-select"
            name="country"
            class="form-select"
            required
            aria-label="Default select example"
          >
            <option value="" selected disabled>-- Choose the country --</option>
            <%- include('../includes/country.ejs') %>
          </select>
          <div class="invalid-feedback">Please select the country</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="location"
          placeholder="Karnataka , Manglore"
          autocomplete="off"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter the location</div>
      </div>

      <br />
      <button class="btn btn-dark mb-3 allbtn">Add :&#41;</button>
    </form>
  </div>
</div>
