/* --------------------------- */
/*       LOGIN PAGE CSS        */
/* --------------------------- */

.password-container {
  position: relative !important;
}

#togglePassword {
  position: absolute !important;
  top: 43px !important;
  right: 13px !important;
  cursor: pointer !important;
  color: #6c757d !important;
  font-size: 15px !important;
}

.login-box {
  display: flex;
  justify-content: space-between;
}

#have-acnt {
  font-size: 13px;
}
