/* .light-theme body {
  background-color: white;
} */

.dark-theme body {
  background-color: #0d0d0f !important;
  color: #e6e6e6 !important;
}

/* CARDS / MENUS / DROPDOWNS */
/* .dark-theme .card,
.dark-theme .dropdown-menu,
.dark-theme .accordion-body {
  background-color: #1a1b1e !important;
  border: 1px solid #2c2d31 !important;
  color: #e6e6e6 !important;
} */

.dark-theme .card-text {
  color: white !important;
  opacity: 0.8;
}

.dark-theme .filter a {
  color: white !important;
  opacity: 0.8;
}

/* FORMS */
.dark-theme input,
.dark-theme select,
.dark-theme textarea {
  background-color: #1a1b1e !important;
  color: #e6e6e6 !important;
  border: 1px solid #2c2d31 !important;
}

.dark-theme input::placeholder,
.dark-theme textarea::placeholder {
  color: #9a9aa0 !important;
}

/* BUTTONS */
.dark-theme .btn-dark {
  background-color: #000 !important;
  border-color: #2c2d31 !important;
}

/* BORDER STYLES */
.dark-theme hr,
.dark-theme .border {
  border-color: #2c2d31 !important;
}
