<%- layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <h2 class="col-6 offset-3 login-signup">Login</h2>
  <div class="col-6 offset-3">
    <form method="post" action="/login" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input
          type="text"
          name="username"
          autocomplete="off"
          placeholder="Enter username"
          class="form-control"
          id="username"
          required
        />
      </div>
      <div class="mb-3">
        <div class="password-container">
          <label for="password" class="form-label">password</label>
          <input
            type="password"
            name="password"
            placeholder="create a strong password"
            class="form-control"
            id="password"
            required
          />
          <i class="fa-regular fa-eye" id="togglePassword"></i>
        </div>
      </div>
      <div class="login-box">
        <button class="btn btn-dark allbtn">login</button>
        <span
          >don't have an account?<a
            href="/signup"
            class="link-underline-primary link-underline-opacity-0-hover"
            >Create one</a
          ></span
        >
      </div>
    </form>
  </div>
</div>
