<% layout('layouts/boilerplate') %>

<div class="row my-5">
  <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
    <div class="card shadow border-0">
      <div class="card-body p-4 p-md-5">
        <h1 class="text-center h3 mb-3">Verify Your Email</h1>

        <!-- <p class="text-center lead mb-4">
          Your email is not yet verified. Please use the form below to resend the
          verification code.
        </p> -->

        <form
          action="/resend-verification-link"
          method="POST"
          class="needs-validation"
          novalidate
        >
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control form-control-lg"
              required
              value="<%= email %>"
            />
            <!-- <div class="valid-feedback">Looks good!</div> -->
            <div class="invalid-feedback">Please enter a valid email.</div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg">
              send link
            </button>
          </div>
        </form>

        <hr class="my-4" />

        <p class="text-muted text-center small">
          Entered the wrong email? Correct it in the field above and click on
          send.
        </p>
      </div>
    </div>
  </div>
</div>
